{% load static %}
<link rel="stylesheet" href="{% static 'css/recruitments.css' %}">
<div class="recruitments">
    {% for recruitment in recruitments  %}
    <div class="recruitment">
        <div class="options-container">
            <i class="fa-solid fa-ellipsis options-menu"></i>
            <div class="options options-active">
                <a href="{% url 'recruitment' recruitment.id %}">
                    <i class="fa-solid fa-eye"></i>
                    <span>View Recruitment</span>
                </a>
                <a data-url="{% url 'recruitment' recruitment.id %}" class="copy-recruitment-link-butt">
                    <i class="fa-solid fa-link"></i>
                    <span>Copy Link</span>
                </a>
                {% if request.user == recruitment.user %}
                <!-- <a href="" class="Edit">
                    <i class="fa-solid fa-pencil"></i>
                    <span>Edit</span>
                </a> -->
                <a class="Delete delete-recruitment" data-id="{{recruitment.id}}">
                    <i class="fa-solid fa-trash"></i>
                    <span>Delete</span>
                </a>
                {% endif %}
                
            </div>
        </div>
        
            <div class="company-infos">
                <a href="{% url 'profile' recruitment.user.id %}">
                    <div class="company-img">
                        <img src="{{recruitment.user.company.avatar.url}}" alt="">
                    </div>
                </a>
                    
                <div class="company-info">
                    <a href="{% url 'profile' recruitment.user.id %}">
                        <p>{{recruitment.user.company.company_name}}</p>
                    </a>
                    <span class="company-bio">{{recruitment.user.company.bio}}</span>
                    <div>
                        
                        <span>
                            {% with time_diff=recruitment.created|timesince:current_time %}
                                {% if "year" in time_diff %}
                                    {{ time_diff|slice:":2" }}y
                                {% elif "month" in time_diff %}
                                    {{ time_diff|slice:":2" }}mo
                                {% elif "week" in time_diff %}
                                    {{ time_diff|slice:":2" }}wk
                                {% elif "day" in time_diff %}
                                    {{ time_diff|slice:":2" }}d
                                {% elif "hour" in time_diff %}
                                    {{ time_diff|slice:":2" }}hr
                                {% else %}
                                    {{ time_diff|slice:":2" }}min
                                {% endif %}
                            {% endwith %}
                        </span>
                        <span>.</span>
                        <i class="fa-solid fa-earth-africa"></i>
                    </div>
                </div>
                
            </div>
        
        <div class="recruitment-infos">
            <div class="recruitment-info">
                <p class="title">{{recruitment.title}}</p>
                <p class="description">{{recruitment.description}}</p>
                <a class="see-more">See more...</a>
                
            </div>
            <div class="recruitment-image">
                <img src="{{recruitment.image.url}}" alt="">
            </div>
            <div class="seats-left {% if request.user.is_student == True %} seats-border {% endif %} ">
                <p>Seats</p>
                <p>{{recruitment.application_set.count}}/{{recruitment.seats}}</p>
            </div>
        </div>
        {% if request.user.is_student == True %}
        <div class="recruitment-actions">
            
            {% if recruitment.id in application_r_ids %}
                <a class="application-butt" data-id="{{recruitment.id}}">
                    <i class="fa-solid fa-briefcase"></i>
                    <span>Re-apply</span>
                </a>
            {% else %}
                <a class="application-butt" data-id="{{recruitment.id}}">
                    <i class="fa-solid fa-briefcase"></i>
                    <span>Apply now</span>
                </a>
            {% endif %}
            
            
            {% if recruitment.id in saved_recruitment_ids %}
            <a class="save-recruitment-butt" data-id="{{recruitment.id}}">
                <i class="fa-regular fa-bookmark recruitment-saved"></i>
                <span>Saved</span>
            </a>
            {% else %}
            <a class="save-recruitment-butt" data-id="{{recruitment.id}}">
                <i class="fa-regular fa-bookmark"></i>
                <span>Save</span>
            </a>
            {% endif %}
            

            
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% if page == "home" %}
{% if recruitments.count == 0 %}
<div class="no-recruitment">
  <i class="fa-solid fa-exclamation-triangle"></i>
  <p>Your filter does not match any recruitment</p>
</div>
{% endif %}
{% endif %}

{% if page == "saved-recruitments" %}
{% if recruitments.count == 0 %}
<div class="no-recruitment">
  <i class="fa-solid fa-exclamation-triangle"></i>
  <p>You have not saved any recruitment</p>
</div>
{% endif %}
{% endif %}

