.messages{
    /* padding: 0px 30px; */
    transition: .2s ease-out;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0; */
}

.p-setup-bg{
    background: var(--light-gray);
}

.message{
    /* margin-top: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.message p{
    font-size: 18px;
    
}

.message i{
    font-size: 25px;
    cursor: pointer;

}

.message-success{
    background: #9affa25d;
    color: #0d5b14;
}

.message-success i{
    color: #009325;
}

.message-error{
    background: #ffb29ab1;
    color: #5b210d;
}

.message-info{
    background: #cbae065d;
    color: #5b550d;
}