.main{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
    padding: 20px 10px;
}






.middle-section{
    width: 600px;
    /* height: 200vh; */
}

.filter-cont{
    background: #fff;
    border: 0.001rem solid #dbdbdb;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.filter-cont p{
    font-weight: 500;
}

.filters{
    display: flex;
    gap: 20px;
    align-items: center;
    border-top: 1px solid var(--bc);
    padding-top: 15px;
}

.filter{
    padding: 7px 15px;
    border: 2px solid #333;
    color: #444;
    font-size: 15px;
    border-radius: 20px;
}

.filters a{
    padding: 7px 25px;
} 

.active-filter{
    background: #333;
    color: #fff;
}

.active-filter .filter{
    color: #fff;
}



.new-recruitment{
    background: #fff;
    border: 0.001rem solid var(--light-gray);
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    border: 0.001rem solid #dbdbdb;
}

.post-new-recruitment{
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--bw) solid var(--bc);
    padding: 20px;
    border-radius: 8px;
    background: var(--light-gray);
    color: var(--primary);
    gap: 10px;
    cursor: pointer;
    
}




@media screen and (max-width: 460px) {
    .post-new-recruitment{
        font-size: 15px;
        text-align: center;
        padding: 5px 5px;
    }

    .new-recruitment{
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width: 620px) {
    .filter-cont{
        width: 100%;
    }
}






