
.recruitment{
    background: #fff;
    border: 0.001rem solid #dbdbdb;
    border-radius: 8px;
    margin-bottom: 10px;
    position: relative;
}

.options-container{
    position: absolute;
    top: 10px;
    right: 20px;
}

.options-container .options-menu{
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    clip-path: circle();
    color: #444;
    transition: .3s;
}

.options-container .options-menu:hover{
    background: var(--light-gray);
    
}

.options-container .options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    border: var(--bw) solid var(--bc);
    background: #fff;
    position: absolute;
    top: 100%;
    right: 0px;
    transition: display .5s ease-in-out;
}

.options-container .options-active{
    display: none;
}

.options-container a{
    text-decoration: none;
    color: #444;
    font-size: 14px;
    padding: 10px 20px;
    transition: .3s;
    display: flex;
    gap: 10px;
    align-items: center;
    text-wrap: nowrap;
    border-bottom: var(--bw) solid var(--bc);
    width: 100%;
}



.options-container a:nth-last-child(1){
    border-bottom: none;
}

.options-container a:hover{
    background: var(--light-gray);
}

.company-infos {
    display: flex;
    gap: 10px;
    padding: 20px;
    align-items: center;
    color: #333;
}



.company-img img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 60px;
    border: 2px solid var(--primary);
}

.company-info{
    display: flex;
    flex-direction: column;
}

.company-info p{
    font-weight: 600;
    color: #333;
}

.company-info p:nth-child(1):hover{
    text-decoration: underline;
}

.company-info span{
    font-size: 14px;
    color: #444;
}

/* .recruitment-infos{

} */


.recruitment-info{
    padding: 20px;
    padding-top: 0px;
}

.recruitment-info p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
}

.recruitment-info .title{
    font-weight: 400;
}

.recruitment-info p:nth-child(2){
    font-size: 16px;
    line-height: 1.5;
}

.recruitment-info a{
    font-size: 14px;
    color: #444;
}

.recruitment-info a:hover{
    text-decoration: underline;
}

.recruitment-image img{
    width: 100%;
}

.seats-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.seats-border{
    border-bottom: 0.001rem solid #dbdbdb;
}

.seats-left p:nth-child(1){
    font-size: 18px;
    font-weight: 600;
}

.seats-left p:nth-child(2){
    font-size: 16px;
    
    
}

.recruitment-actions{
    display: flex;
}

.recruitment-actions a{
    width: 100%;
    text-align: center;
    padding: 20px;

}


.recruitment-actions a i{
    font-size: 20px;
    color: #333;
    
}


.recruitment-actions a span{
    font-size: 18px;
    color: #444;
}

.recruitment-actions a:nth-child(1){
    border-right: var(--bw) solid var(--bc);
    border-bottom-left-radius: 8px;
}

.recruitment-actions a:nth-child(2){
    border-bottom-right-radius: 8px;
}

.recruitment-saved{
    color: var(--primary);
}

/* .recruitment-actions a:hover{
    background: var(--light-gray);
    color: #fff;
}

.recruitment-actions a:hover i, .recruitment-actions a:hover span{
    color: var(--primary);
} */

@media screen and (max-width: 620px) {
    .recruitment{
        background: #fff;
        border: 0.001rem solid #dbdbdb;
        border-radius: 8px;
        margin-bottom: 10px;
        position: relative;
    }
}