@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Kode+Mono:wght@400..700&family=Poppins&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body{
    background: var(--light-gray);
}

:root{
    --primary: #A020F0;
    --primary-hover: #821ac3;
    --primary-light: #f7ebff;
    --light-gray: #f2f2f2;
    --bw: 0.001rem;
    --bc: #dbdbdb;
    --error: #ff3d16;
    
}

.ubit-dasboard{
    display: flex;
    
}


.main{
    max-width: calc(100% - 75px);
}

.sidebar:hover .main{
    max-width: calc(100% - 300px);
}

.main-nav{
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--bw) inset var(--bc);
    background: #fff;
    width: 100%;
}

.main-nav h2{
    font-size: 22px;
    color: var(--primary);
}

.sub-main{
    /* width: 100%; */
    padding: 20px;
}


