<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} | UBIT DASHBOARD</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" type="images/png" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/ubit-base.css' %}">
</head>
<body>
    <div class="ubit-dasboard">
        {% include "ubit/sidebar.html" %}
        <div class="main">
            <div class="main-nav">
                <h2>UBIT DASBOARD</h2>
            </div>
            <div class="sub-main">
                {% block content %}
              
                {% endblock content %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/ubit-base.js' %}"></script>
</body>
</html>