{% load static %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<div class="sidebar hide-nav">
    <div class="head">
        <h2>UBIT DASHBOARD</h2>
        <i class="fa-solid fa-bars menu"></i>
    </div>
    <div class="nav">
        <a href="dashboard" class="active">
            <i class="fa-solid fa-gauge"></i>
            <span>Dashboard</span>
        </a>

        <a href="students">
            <i class="fa-solid fa-graduation-cap"></i>
            <span>Students</span>
        </a>

        <a href="companies">
            <i class="fa-solid fa-building-columns"></i>
            <span>Companies</span>
        </a>
    </div>
</div>

<script>
    const menu = document.querySelector('.menu');
    const sidebar = document.querySelector('.sidebar');
    menu.addEventListener('click', () => {
        sidebar.classList.toggle('hide-nav');
    });
</script>