{% extends "ubit/base.html" %}
{% load static %}
{% block title %}Students{% endblock title %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/ubit-students.css' %}">
  <div class="students-main">
        <h2 class="header-text">Students</h2>

        <div class="students-container">
            <div class="students-filters">
                <a href="{% url 'ubit:dashboard' %}" class="back-butt">
                  <i class="fa-solid fa-arrow-left"></i>
                </a>

                <div>
                    <input type="text" placeholder="Search" class="search-box">
                </div>
            </div>

            <div class="students">
                <table id="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Matric No</th>
                            <th>Email</th>
                            <th>Applications</th>
                            <th>Action</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for student in students %}
                        <tr class="rows">
                            <td class="data">
                                <img src="{{student.avatar.url}}" alt="">
                                <span><a href="{% url 'profile' student.user.id %}" target="_blank" class="links">{{student.first_name }} {{student.last_name }}</a></span>
                            </td>
                            <td class="data">{{student.matric_no}}</td>
                            <td class="data">{{student.user.email}}</td>
                            <td class="data">{{student.user.application_set.count}}</td>
                            <td>
                                <a href="" class="delete-link action-link student-delete" data-id="{{student.id}}">
                                    <i class="fa-solid fa-trash-can "></i>
                                    <!-- <span>Delete</span> -->
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if s_applications.count == 0 %}
            <div class="no-application">
                <i class="fa-solid fa-exclamation-triangle"></i>
                <p>No student has applied for this recruitment</p>
            </div>
            {% endif %}
       
      </div>
  </div>
 
{% endblock content %}