{% extends "ubit/base.html" %}
{% load static %}
{% block title %}Dasboard{% endblock title %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/ubit-students.css' %}">
  <div class="students-main">
        <h2 class="header-text">Students</h2>

        <div class="students-container">
            <div class="students-filters">
                <a href="{% url 'ubit:dashboard' %}" class="back-butt">
                  <i class="fa-solid fa-arrow-left"></i>
                </a>
            </div>

            <div class="students">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Matric No</th>
                            <th>Email</th>
                            <th>Applications</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for student in students %}
                        <tr>
                            <td>
                                <img src="{{student.avatar.url}}" alt="">
                                <span>{{student.first_name }} {{student.last_name }}</span>
                            </td>
                            <td>{{student.matric_no}}</td>
                            <td>{{student.user.email}}</td>
                            <td>{{student.user.application_set.count}}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if s_applications.count == 0 %}
            <div class="no-application">
                <i class="fa-solid fa-exclamation-triangle"></i>
                <p>No student has applied for this recruitment</p>
            </div>
            {% endif %}
       
      </div>
  </div>
{% endblock content %}