{% extends "authenticate/base.html" %}

{% load static %}

{% block title %}Profile Setup{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/profile-setup.css' %}">
  <div class="container">
    <div class="form-container">
        {% if page == "profile-setup" %}
        <h2>Lets setup your profile</h2>
        {%else%}
        <h2>Edit profile</h2>
        {% endif %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="picture-input">
                {% if request.user.is_student %}
                <img src="{{request.user.student.avatar.url}}" alt="" class="picture">
                {% else %}
                <img src="{{request.user.company.avatar.url}}" alt="" class="picture">
                {% endif %}
                <input type="file" name="image" id="picture-input" style="display: none;">
                <label for="picture-input" class="change-picture-button">
                    <i class="fa-regular fa-pen-to-square"></i>
                    <span>Upload profile picture</span>
                </label>
            </div>
            <div class="forms">
               {% if request.user.is_student == True %}
               <div class="profile-info">
                    <div class="input-container">
                        <input type="text" name="first_name" placeholder="First Name" value="{{profile.first_name}}">
                    </div>

                    <div class="input-container">
                        <input type="text" name="last_name" placeholder="Last Name" value="{{profile.last_name}}">
                    </div>

                    <div class="input-container">
                        <input type="text" name="email" placeholder="" value="{{request.user}}" readonly>
                    </div>

                    <div class="input-container">
                        <input type="text" name="matric_no" placeholder="Matric Number" class="phone-input" value="{{profile.matric_no}}">
                    </div>

                    <div class="input-container" style="display: none;">
                        <p>Add your skills</p>
                        <div class="skill-input-field">
                            <input type="text" placeholder="Type skill and hit enter to add" class="skill-input">
                        </div> 
                    </div>
                </div>
               {% endif %}
               {% if request.user.is_company == True %}
               <div class="profile-info">
                    <div class="input-container">
                        <input type="text" name="company_name" placeholder="Company Name" value="{{profile.company_name}}">
                    </div>

                    
                    <!-- <input type="text" name="bio" placeholder="Last Name"> -->
                    <textarea name="bio" id="" placeholder="Company bio goes here" cols="30" rows="10" value="{{request.user.company.bio}}"></textarea>
                    

                    <div class="input-container">
                        <input type="text" name="email" placeholder="" value="{{request.user}}" readonly>
                    </div>

                    <div class="input-container">
                        <input type="text" name="phone_number" placeholder="Phone Number" class="phone-input" value="{{profile.phone_number}}">
                    </div>

                    <div class="input-container">
                        <input type="text" name="address" placeholder="Address" value="{{profile.address}}">
                    </div>

                    <div class="input-container">
                        <input type="text" name="city" placeholder="City" value="{{profile.city}}">
                    </div>

                    <div class="input-container">
                        <!-- <input type="text" name="state" placeholder="State" value="{{profile.state}}"> -->
                        <select id="nigeriaStates" name="state" class="filter">
                            <option value="location">State</option>
                            <option value="Abia">Abia</option>
                            <option value="Adamawa">Adamawa</option>
                            <option value="Akwa Ibom">Akwa Ibom</option>
                            <option value="Anambra">Anambra</option>
                            <option value="Bauchi">Bauchi</option>
                            <option value="Bayelsa">Bayelsa</option>
                            <option value="Benue">Benue</option>
                            <option value="Borno">Borno</option>
                            <option value="Cross River">Cross River</option>
                            <option value="Delta">Delta</option>
                            <option value="Ebonyi">Ebonyi</option>
                            <option value="Edo">Edo</option>
                            <option value="Ekiti">Ekiti</option>
                            <option value="Enugu">Enugu</option>
                            <option value="Gombe">Gombe</option>
                            <option value="Imo">Imo</option>
                            <option value="Jigawa">Jigawa</option>
                            <option value="Kaduna">Kaduna</option>
                            <option value="Kano">Kano</option>
                            <option value="Katsina">Katsina</option>
                            <option value="Kebbi">Kebbi</option>
                            <option value="Kogi">Kogi</option>
                            <option value="Kwara">Kwara</option>
                            <option value="Lagos">Lagos</option>
                            <option value="Nasarawa">Nasarawa</option>
                            <option value="Niger">Niger</option>
                            <option value="Ogun">Ogun</option>
                            <option value="Ondo">Ondo</option>
                            <option value="Osun">Osun</option>
                            <option value="Oyo">Oyo</option>
                            <option value="Plateau">Plateau</option>
                            <option value="Rivers">Rivers</option>
                            <option value="Sokoto">Sokoto</option>
                            <option value="Taraba">Taraba</option>
                            <option value="Yobe">Yobe</option>
                            <option value="Zamfara">Zamfara</option>
                            <option value="Federal Capital Territory">Abuja</option>
                        </select>
                    </div>

                    

                    <div class="input-container" style="display: none;">
                        <p>Add your skills</p>
                        <div class="skill-input-field">
                            <input type="text" placeholder="Type skill and hit enter to add" class="skill-input">
                        </div>
                    </div>
                </div>
               {% endif %}
               
                
                {% if page == "profile-setup" %}
                <button class="continue">Continue</button>
                {%else%}
                <button class="continue">Update Profile</button>
                {% endif %}
            </div>
            
        </form>
    </div>
  </div>
  <script src="{% static 'js/profile-setup.js' %}"></script>
{% endblock content %}