{% extends "authenticate/base.html" %}

{% load static %}

{% block title %}Profile Setup{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/profile-setup.css' %}">
  <div class="container">
    <div class="form-container">
        {% if page == "profile-setup" %}
        <h2>Lets setup your profile</h2>
        {%else%}
        <h2>Edit profile</h2>
        {% endif %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="picture-input">
                {% if request.user.is_student %}
                <img src="{{request.user.student.avatar.url}}" alt="" class="picture">
                {% else %}
                <img src="{{request.user.company.avatar.url}}" alt="" class="picture">
                {% endif %}
                <input type="file" name="image" id="picture-input" style="display: none;">
                <label for="picture-input" class="change-picture-button">
                    <i class="fa-regular fa-pen-to-square"></i>
                    <span>Upload profile picture</span>
                </label>
            </div>
            <div class="forms">
               {% if request.user.is_student == True %}
               <div class="profile-info">
                    <div class="section">
                        <p class="section-title">Personal Details</p>
                        <div class="input-container">
                            <input type="text" name="first_name" placeholder="First Name" value="{{profile.first_name}}">
                        </div>
    
                        <div class="input-container">
                            <input type="text" name="last_name" placeholder="Last Name" value="{{profile.last_name}}">
                        </div>
    
                        <div class="input-container">
                            <input type="text" name="email" placeholder="" value="{{request.user}}" readonly>
                        </div>
    
                        <div class="input-container">
                            <input type="text" name="level" placeholder="Level" class="phone-input" maxlength="3" value="{{profile.level}}">
                        </div>
    
                        <div class="input-container">
                            <input type="text" name="matric_no" placeholder="Matric Number" class="matric-input" maxlength="10" value="{{profile.matric_no}}">
                        </div>
    
                        <div class="input-container">
                            <input type="text" name="phone_number" placeholder="Phone Number" class="phone-input" maxlength="11" value="{{profile.phone_number}}">
                        </div>
                    </div>

                    <div class="section">
                        <p class="section-title">Bank Details</p>
                        <div class="input-container">
                            <input type="text" name="account_no" placeholder="Account Number" class="phone-input" maxlength="10" value="{{profile.account_no}}">
                        </div>
                        <div class="input-container">
                            <input type="text" name="bank_name" placeholder="Bank Name" class="bank-input" value="{{profile.bank_name}}">
                        </div>
                    </div>

                    <div class="section">
                        <p class="section-title">Add your skills or interests</p>
                        <div class="skill-input-field">
                            <div class="skills-cont">

                            </div>
                            <input type="text" placeholder="Type skill and hit enter to add" class="skill-input">
                        </div> 
                    </div>
                </div>
               {% endif %}
               {% if request.user.is_company == True %}
               <div class="profile-info">
                    <div class="input-container">
                        <input type="text" name="company_name" placeholder="Company Name" value="{{profile.company_name}}">
                    </div>

                    
                    <!-- <input type="text" name="bio" placeholder="Last Name"> -->
                    <textarea name="bio" id="" placeholder="Company bio goes here" cols="30" rows="10" value="">{{profile.bio}}</textarea>
                    

                    <div class="input-container">
                        <input type="text" name="email" placeholder="" value="{{request.user}}" readonly>
                    </div>

                    <div class="input-container">
                        <input type="text" name="phone_number" placeholder="Phone Number" class="phone-input" value="{{profile.phone_number}}">
                    </div>

                    <div class="input-container">
                        <input type="text" name="address" placeholder="Address" value="{{profile.address}}">
                    </div>

                    <div class="input-container">
                        <input type="text" name="city" placeholder="City" value="{{profile.city}}">
                    </div>

                    <div class="input-container">
                        <!-- <input type="text" name="state" placeholder="State" value="{{profile.state}}"> -->
                        <select id="nigeriaStates" name="state">
                            <option value="State" {% if page == 'edit-profile' and profile.state == "state" %}selected{% endif %}>Select State</option>
                            <option value="Abia" {% if profile.state == "Abia" %}selected{% endif %}>Abia</option>
                            <option value="Adamawa" {% if profile.state == "Adamawa" %}selected{% endif %}>Adamawa</option>
                            <option value="Akwa Ibom" {% if profile.state == "Akwa Ibom" %}selected{% endif %}>Akwa Ibom</option>
                            <option value="Anambra" {% if profile.state == "Anambra" %}selected{% endif %}>Anambra</option>
                            <option value="Bauchi" {% if profile.state == "Bauchi" %}selected{% endif %}>Bauchi</option>
                            <option value="Bayelsa" {% if profile.state == "Bayelsa" %}selected{% endif %}>Bayelsa</option>
                            <option value="Benue" {% if profile.state == "Benue" %}selected{% endif %}>Benue</option>
                            <option value="Borno" {% if profile.state == "Borno" %}selected{% endif %}>Borno</option>
                            <option value="Cross River" {% if profile.state == "Cross River" %}selected{% endif %}>Cross River</option>
                            <option value="Delta" {% if profile.state == "Delta" %}selected{% endif %}>Delta</option>
                            <option value="Ebonyi" {% if profile.state == "Ebonyi" %}selected{% endif %}>Ebonyi</option>
                            <option value="Edo" {% if profile.state == "Edo" %}selected{% endif %}>Edo</option>
                            <option value="Ekiti" {% if profile.state == "Ekiti" %}selected{% endif %}>Ekiti</option>
                            <option value="Enugu" {% if profile.state == "Enugu" %}selected{% endif %}>Enugu</option>
                            <option value="Gombe" {% if profile.state == "Gombe" %}selected{% endif %}>Gombe</option>
                            <option value="Imo" {% if profile.state == "Imo" %}selected{% endif %}>Imo</option>
                            <option value="Jigawa" {% if profile.state == "Jigawa" %}selected{% endif %}>Jigawa</option>
                            <option value="Kaduna" {% if profile.state == "Kaduna" %}selected{% endif %}>Kaduna</option>
                            <option value="Kano" {% if profile.state == "Kano" %}selected{% endif %}>Kano</option>
                            <option value="Katsina" {% if profile.state == "Katsina" %}selected{% endif %}>Katsina</option>
                            <option value="Kebbi" {% if profile.state == "Kebbi" %}selected{% endif %}>Kebbi</option>
                            <option value="Kogi" {% if profile.state == "Kogi" %}selected{% endif %}>Kogi</option>
                            <option value="Kwara" {% if profile.state == "Kwara" %}selected{% endif %}>Kwara</option>
                            <option value="Lagos" {% if profile.state == "Lagos" %}selected{% endif %}>Lagos</option>
                            <option value="Nasarawa" {% if profile.state == "Nasarawa" %}selected{% endif %}>Nasarawa</option>
                            <option value="Niger" {% if profile.state == "Niger" %}selected{% endif %}>Niger</option>
                            <option value="Ogun" {% if profile.state == "Ogun" %}selected{% endif %}>Ogun</option>
                            <option value="Ondo" {% if profile.state == "Ondo" %}selected{% endif %}>Ondo</option>
                            <option value="Osun" {% if profile.state == "Osun" %}selected{% endif %}>Osun</option>
                            <option value="Oyo" {% if profile.state == "Oyo" %}selected{% endif %}>Oyo</option>
                            <option value="Plateau" {% if profile.state == "Plateau" %}selected{% endif %}>Plateau</option>
                            <option value="Rivers" {% if profile.state == "Rivers" %}selected{% endif %}>Rivers</option>
                            <option value="Sokoto" {% if profile.state == "Sokoto" %}selected{% endif %}>Sokoto</option>
                            <option value="Taraba" {% if profile.state == "Taraba" %}selected{% endif %}>Taraba</option>
                            <option value="Yobe" {% if profile.state == "Yobe" %}selected{% endif %}>Yobe</option>
                            <option value="Zamfara" {% if profile.state == "Zamfara" %}selected{% endif %}>Zamfara</option>
                            <option value="Federal Capital Territory" {% if profile.state == "Federal Capital Territory" %}selected{% endif %}>Abuja</option>
                        </select>
                    </div>

                    

                    <div class="input-container" style="display: none;">
                        <p>Add your skills</p>
                        <div class="skill-input-field">
                            <input type="text" placeholder="Type skill and hit enter to add" class="skill-input">
                        </div>
                    </div>
                </div>
               {% endif %}
               
                
                {% if page == "profile-setup" %}
                <button class="continue">Continue</button>
                {%else%}
                <button class="continue">Update Profile</button>
                {% endif %}
            </div>
            
        </form>
    </div>
  </div>
  <script src="{% static 'js/profile-setup.js' %}"></script>
{% endblock content %}