{% extends "base.html" %}
{% load static %}

{% block title %}Our Recruitments{% endblock title %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/recruitment-applications.css' %}">
  <div class="main">
    <div class="main-container">
        <h2 class="header-text">Applications</h2>
        <div class="applications-container">
            <div class="applications-nav">
                <div class="applications-status">
                     <a href="{% url 'company-recruitments'  %}" class="back-butt"><i class="fa-solid fa-arrow-left"></i></a>
                    <p class="active">All Applications</p>
                </div>
                
            </div>

            <div class="applications">
                <table>
                    <thead>
                        <tr>
                            <th>Applicant's Info</th>
                            <th>Matric No</th>
                            <th>Email</th>
                            <th>IT Letter</th>
                            <th>Action</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for application in r_applications %}
                        <tr>
                            <td>
                                <img src="{{application.user.student.avatar.url}}" alt="">
                                <span>{{application.name}}</span>
                            </td>
                            <td>{{application.matric_no}}</td>
                            <td>{{application.email}}</td>
                            <td>
                                <a href="{{application.letter.url}}" download target="_blank" class="download-link" >
                                    <i class="fa-solid fa-download"></i>
                                    <span>Letter</span>
                                </a>
                            </td>
                            <td>
                                {% if application.approved %}
                                <a class="download-link">
                                    <i class="fa-solid fa-check"></i>
                                    <span>Approved</span>
                                </a>
                                {% else %}
                                <a class="approve-application-butt download-link" data-id="{{application.id}}">
                                    <i class="fa-solid fa-check"></i>
                                    <span>Approve</span>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if s_applications.count == 0 %}
            <div class="no-application">
                <i class="fa-solid fa-exclamation-triangle"></i>
                <p>No student has applied for this recruitment</p>
            </div>
            {% endif %}
        </div>
    </div>
  </div>
  <script src="{% static 'js/company-recruitment.js' %}"></script>
{% endblock content %}