{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="main">
    {% include "recruitment/partials/left-section.html" %}

   <div class="middle-section">

    <div class="saved-recruitment">
        <p>Saved Recruitment</p>
    </div>
        
    {% include "recruitment/partials/recruitments.html" %}

   </div>
   {% include "recruitment/partials/right-section.html" %}
</div>
<script type="module" src="{% static 'js/home.js' %}"></script>
{% endblock content %}