{% extends "authenticate/base.html" %}
{% load static %}
{% block title %}Forgot Password{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/forgot-password.css' %}">
  <div class="container">
    <div class="form-container">
        <img src="{% static 'images/forgot.svg' %}" alt="" class="image">
        <p>Did you forget your password? <br>Your password will be emailed to you</p>
        <form action="" method="POST">
          {% csrf_token %}
          <div class="input-field">
            <input type="text" name="email" placeholder="Input your email here">
            <button>Get email</button>
          </div>
        </form>
    </div>
  </div>
{% endblock content %}

