{% extends "authenticate/base.html" %}
{% load static %}
{% block title %} Login{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<div class="container">
    <div class="side-image"></div>
    <div class="form-container">
        
        <form action="" method="POST">
            {% csrf_token %}
            <h5 class="title">Welcome Onboard, Sign in to continue</h5>
            <div class="input-field">
                <i class="fas fa-envelope"></i>
                <input type="text" name="email" id="" placeholder="Email">
            </div>

            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" id="" placeholder="Password" class="password-input">
                <i class="fa-solid fa-eye show-password"></i>
                <i class="fa-solid fa-eye-slash hide-password" style="display: none;"></i>
            </div>
            <!-- <a href="{% url 'forgot-password' %}" class="forgot-password">Forgot password?</a> -->
            <input type="submit" value="Sign in" class="submit">
            <div class="or">
                <span> </span>
                <span>or</span>
                <span> </span>
            </div>
            
            <a href="{% url 'register' %}" class="new">New to Recruit.IT? Join now</a>
        </form>
    </div>
</div>
<script>
    const showPassword = document.querySelector(".show-password")
    const hidePassword = document.querySelector(".hide-password")
    const passwordInput = document.querySelector(".password-input")

    hidePassword.addEventListener("click", ()=>{
        passwordInput.type = "password"
        hidePassword.style.display = "none"
        showPassword.style.display = "block" 
    })

    showPassword.addEventListener("click", ()=>{
        passwordInput.type = "text"
        hidePassword.style.display = "block"
        showPassword.style.display = "none"
    })
</script>
{% endblock content %}
